<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span routerLink="/dashboard"><a>Home</a></span>
  <span style="margin-left: 15px" routerLink="/charts"><a>Products</a></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn">Log Out</button>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="chart-wrapper">
      <h2 style="margin-top: 20px">Sales Percent</h2>
      <canvas
        baseChart
        width="600"
        height="400"
        type="line"
        [data]="lineChartData"
      >
      </canvas>
      <h2 style="margin-top: 20px">Sold Products</h2>
      <canvas
        baseChart
        width="600"
        height="400"
        type="bar"
        [data]="barChartData"
      >
      </canvas>
      <h2 style="margin-top: 20px">Total Products</h2>
      <canvas
        baseChart
        width="600"
        height="400"
        type="pie"
        [data]="pieChartData"
      >
      </canvas>
    </div>
  </div>
</div>
